body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-left: 3%;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    position: sticky;
}

.bilder {
    width: 25%;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3%;
}

img {
    width: 100%;
}

